


body{
  background-image: url('2.1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
 
}
nav{
  display: flex;
  margin-left: 3rem;
}
nav div img{
  height: 50px;
  width: 90px;
}
.container{
  margin-left: 3rem;
  margin-top: 2rem;
}
.list {
  display: flex;
  margin-left: 15rem;
  margin-top: -0.4rem;
  list-style-type: none;
  color:red;
  
  
}
.list-item{
  padding: 1.5rem;
}

.button-small{
  display: flex;
  background-color: yellow;
  border-style: none;
  height: 25px;
  width: 70px;
  text-align: center;
  
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 0.35rem;
  padding-bottom: 1rem;
  
  color:red;
  margin-left: 15rem;
  margin-top: 0.7rem;
  
}

  

.hero-heading{
  color: red;
  font-size: 7.5rem;
  margin-left: 5rem;
  margin-top: 1rem;
}

.button-large{
  margin-left: 33rem;
  background-color: yellow;
  color: red;
  
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border-style: none;
  font-size: medium;
  margin-top: 1rem;
}
.bottom div img{
  margin-left: 63rem;
  margin-top: -12rem;
}


